body {
    background-color: rgb(237, 252, 235);
    backdrop-filter: blur(5px);
}

.intro-card {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 60%;
    min-width: 350px
}

.logo {
    width: 150px
}

.frame {
    border-radius: 15px !important;
}